
.idea/
.cache/
.docusaurus/
.next/
.npm/
.parcel-cache/
.pnp/
.sanity/
.turbo/
.vscode/
.vercel/
build/
coverage/
dist/
jspm_packages/
logs/
node_modules/
website/public/studio/
out/
storybook-static/

.DS_Store
*.pem
*.pid
*.seed
*.tsbuildinfo

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.env*
!.env.example

production*.tar.gz
production-export*/
development*.tar.gz
development-export*/
